.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}
.todo-text {
  margin-right: auto;
}
.todo-list-wrapper {margin-top: 20px}
.todo-list {margin-top: 35px}
.todo-buttons {
  display: flex;
  width: 65px;
  justify-content: space-between;
  align-items: center;
}
#deleteTaskConfirmationModal .box {
  margin: 0 auto;
  max-width: 350px;
}

.edit-task-input {
  flex-grow: 1;
}
